@model IEnumerable<WebAPI.Models.Tarefa>

@{
    ViewData["Title"] = "Index";
}


<p class="mt-4">
    @using (Html.BeginForm("Index", "Tarefas", FormMethod.Get))
    {
        <input class="form-control" type="text" name="search" placeholder="Título" />
        <input class="btn btn-outline-dark btn-block mt-2" type="submit" name="submit" value="Procurar" />
    }
    <a class="btn btn-outline-dark btn-lg btn-block mt-4" asp-action="Create">Criar Nova Tarefa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Título
            </th>
            <th>
                Descrição
            </th>
            <th>
                Criado
            </th>
            <th>
                Última Atualização
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataUpdate)
            </td>
            <td>
                <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                <a class="btn btn-outline-dark" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
